body {
	font-family: Verdana,sans-serif;
	font-size: 0.9em;
	text-align: center;
	box-shadow: 1px 1px 20px #888888;
}

header, footer {
	padding: 0px;
	color: white;
	background-color: #2b2d2e;
	font-family: 'Corben', Georgia, Times, serif;
}

header h1 {
	font-size: 38px;
}

section {
	padding: 5px 50px 180px 50px;
	background-color: white;
	background-image: url(bckground.png);
	background-repeat: no-repeat;
	background-position: bottom;
	min-height: 300px
}

.line {
	margin: 5px 10px 0px 10px;
}

.container1 {
	padding-top: 5px;
	float: left;
}

.container2 {
	padding-top: 15px;
	float:bottom;
	clear: both;
}

.container2-1 {
	float:left;
}

.container2-1 input[type=text]{
	width:300px;
}

.container2-2 {
	float:left;
	text-align:left;
	margin: 0px 50px 0px 50px; 
}

.form_login {
	margin: 0px 300px 0px 300px;
	padding: 20px 20px 20px 20px;
	background-color: #e3eaee;
	box-shadow: 1px 1px 20px #888888;
	border: 0px;
}

input[type=text], input[type=password], input[type=email], input[type=number], select {  
	padding: 5px 10px;
	margin: 5px 10px 5px 10px;
    border: 1px solid #ccc;
    border-radius: 7px;
    box-sizing: border-box;
}

.item {
	text-align: left;
	padding:0px;
	overflow: hidden;
}

a { 
 text-decoration:none; 
 color: black;
} 

.button{
	text-decoration: none;
	display: inline-block;
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	border-bottom: 1px solid rgba(0,0,0,0.25);
	margin:5px;
	padding:15px 20px;
	border-radius:16px;
}
.button:hover{
	background-color: #777;
}
.button:active{
	top: 2px;
	left:2px;
}
            
.green{
        background-color: #32CD32;
        color: #fff;
}
.green:hover{
	background-color: #2F4F4F;
}

.tabs {
  position: relative;   
  min-height: 200px;
  clear: both;
}
.tab {
  float: left;
}
.tab label {
  background: #eee; 
  padding: 10px; 
  border: 1px solid #ccc; 
  margin-left: -1px; 
  position: relative;
  left: 1px; 
}
.tab [type=radio] {
  display: none;   
}
.content {
  position: absolute;
  top: 26px;
  left: 0;
  background: white;
  right: 0;
  bottom: 0;
  padding: 20px;
  border: 1px solid #ccc; 
}
[type=radio]:checked ~ label {
  background: white;
  border-bottom: 1px solid white;
  z-index: 2;
}
[type=radio]:checked ~ label ~ .content {
  z-index: 1;
}

.leftmenu {
	float: left;
}

.leftmenu ul {
	background-color: #e3eaee;
	text-align: left;
	box-shadow: 1px 1px 20px #888888;
    list-style-type: none;
    margin: 30px 50px 0px 50px;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1; 
    overflow: auto; 
    height: calc(100% - 310px);
}

.leftmenu li {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
    text-align: center;
}

.leftmenu li:hover {
    background-color: #555;
    color: white;
    box-shadow: 1px 1px 20px #888888;
}

.leftmenu li:last-child {
    border-bottom: none;
}

.sidetext {
	margin-left: 50px;
	padding:1px 16px;
	height: calc(100% - 310px);
	background-color: white;
}

.month {
	margin-left: 250px;
    padding: 70px 25px;
    background: #1abc9c;
    text-decoration: none;
}

.month ul {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.month ul li {
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 3px;
}

.month .prev {
    float: left;
    padding-top: 10px;
    text-decoration: none;
}

.month .next {
    float: right;
    padding-top: 10px;
    text-decoration: none;
}

.weekdays {
    margin: 0;
	margin-left: 250px;
    padding: 10px 0;
    background-color: #ddd;
}

.weekdays li {
    display: inline-block;
    width: 13.6%;
    color: #666;
    text-align: center;
}

.days {
    padding: 10px 0;
    background: #eee;
    margin: 0;
    margin-left: 250px;
}

.days li {
    list-style-type: none;
    display: inline-block;
    width: 13.6%;
    text-align: center;
    margin-bottom: 5px;
    font-size:12px;
    color: #777;
}


.days li .active {
    padding: 5px;
    background: #1abc9c;
    color: white !important
}


@media screen and (max-width:720px) {
    .weekdays li, .days li {width: 13.1%;}
}

@media screen and (max-width: 420px) {
    .weekdays li, .days li {width: 12.5%;}
    .days li .active {padding: 2px;}
}

@media screen and (max-width: 290px) {
    .weekdays li, .days li {width: 12.2%;}
}

.container2-2 img {
	background-color: white;
	width:140px; 
	height:140px; 
	border:1px solid #ccc;
}

textarea {
	font-size: 14px;
	font-weight: normal;
	resize: none;
	overflow-y: scroll;	
	width: 98%; 
	min-height: 200px;
}
